<section class="breadcrumbs">
  <div class="container">
    <div class="page-title-breadcrumbs">
      <div class="assistive-text">Вы здесь:</div>
      <ol
        class="breadcrumbs text-small"
        itemscope=""
        itemtype="https://schema.org/BreadcrumbList"
      >
        <li
          itemprop="itemListElement"
          itemscope=""
          itemtype="https://schema.org/ListItem"
        >
          <a itemprop="item" href="/" title=""
            ><span itemprop="name">Главная</span></a
          ><meta itemprop="position" content="1" />
        </li>
        <li
          class="current"
          itemprop="itemListElement"
          itemscope=""
          itemtype="https://schema.org/ListItem"
        >
          <span itemprop="name">О компании</span
          ><meta itemprop="position" content="2" />
        </li>
      </ol>
    </div>
  </div>
</section>
<section class="about-company-section">
  <div class="container">
    <h2>О компании</h2>
    <div class="about-company__contents">
      <div class="about-company__text">
        <p>
          Мы - амбициозное предприятие, созданное в 2012 г. и готовое
          сотрудничать со всеми заинтересованными лицами, как юридическим, так и
          физическими. В 2020 году наше предприятие открыло еще одно направление
          деятельности и создало анимационную студию “ЭСТРУКТУРА-ФИЛЬМ”, где
          создаются анимационные фильмы, рекламные ролики и другая
          художественная продукция.
        </p>
        <p>
          Команда “ЭСТРУКТУРА-ФИЛЬМ” состоит из профессионалов, которые готовы к
          выполнению поставленных задач . Покажем сильные стороны вашего
          бизнеса, анимируем продуки или создадим обучающий мультфильм.
        </p>
        <p>
          Мы работаем над проектами любой сложности от разработки идеи до полной
          её реализации. Цель нашей работы решать задачи бизнеса с помощью видео
          и добиваться результата.
        </p>
        <p>
          Главный офис компании находится в Могилеве, оказываем услуги
          посоздании анимации по всей Беларуси.
        </p>
      </div>
      <div class="about-company__img">
        <img src="/img/about_company.webp" alt="О компании" />
      </div>
    </div>
  </div>
</section>
<section class="command-section" id="command-section__about-page">
  <div class="container">
    <h4>
      Наша команда вместе с вами создаст уникальную и эффективную анимацию
    </h4>
    <div class="contents__items">
      <div class="contents__items__item">
        <div class="contents__items__item__img">
          <img src="/img/uniqueness.webp" alt="Уникальность" />
        </div>
        <h5>Уникальность</h5>
        <div class="contents__items__item__descr">
          Индивидуальный подход и оригинальные идеи для каждого клиента
        </div>
      </div>
      <div class="contents__items__item">
        <div class="contents__items__item__img">
          <img src="/img/expertise.webp" alt="Экспертность" />
        </div>
        <h5>Экспертность</h5>
        <div class="contents__items__item__descr">
          Работаем на результат во всех сферах 2D анимации с полным циклом
          производства
        </div>
      </div>
      <div class="contents__items__item">
        <div class="contents__items__item__img">
          <img src="/img/availability.webp" alt="Доступность" />
        </div>
        <h5>Доступность</h5>
        <div class="contents__items__item__descr">
          Доступные цены и гибкая система скидок для наших постоянных клиентов и
          партнеров
        </div>
      </div>
      <div class="contents__items__item">
        <div class="contents__items__item__img">
          <img src="/img/promptness.webp" alt="Оперативность" />
        </div>
        <h5>Оперативность</h5>
        <div class="contents__items__item__descr">
          Распланированный поэтапно проект, оперативность создания анимации
        </div>
      </div>
    </div>
  </div>
</section>
<section class="servises" id="about-page__services">
  <div class="container">
    <h3>Основные направления работы:</h3>
    <div class="services-container">
      <div class="servises__items">
        <div class="servises__items__item">
          <div class="servis__img">
            <img src="/img/Animation_videos.webp" alt="Анимационные ролики" />
          </div>
        </div>
        <h4>Анимационные ролики</h4>
      </div>
      <div class="servises__items">
        <div class="servises__items__item">
          <div class="servis__img">
            <img src="/img/Commercials.webp" alt="Рекламные ролики" />
          </div>
        </div>
        <h4>Рекламные ролики</h4>
      </div>
      <div class="servises__items">
        <div class="servises__items__item">
          <div class="servis__img">
            <img src="/img/Multiple_series.webp" alt="Мультсериалы" />
          </div>
        </div>
        <h4>Мультсериалы</h4>
      </div>
    </div>
  </div>
</section>
@@include('../page-blocks/_callbackForm.html')
