<section class="advantage">
  <div class="container">
    <h2>Преимущества анимации для бизнеса</h2>
    <div class="contents">
      <div class="contents__items left">
        <div class="contents__items__item">
          <div class="contents__items__item__img top__img">
            <img
              src="<?php bloginfo( 'template_url' ); ?>/img/visibility.webp"
              alt="visibility"
            />
          </div>
          <div class="contents__items__item__descr text__left">
            <h3>Наглядность</h3>
            <div class="description">
              Красочная, привлекательная анимация поможет вам представить
              продукт и бизнес с наилучшей стороны. Всегда лучше один раз
              показать, чем несколько раз рассказать.
            </div>
          </div>
        </div>
        <div class="contents__items__item">
          <div class="contents__items__item__descr text__right">
            <h3>Эффективность</h3>
            <div class="description">
              Привлечение внимания и интереса к продукту, увеличение конверсий и
              охватов до 100% за счет просмотров яркого и интересного
              анимационного ролика.
            </div>
          </div>
          <div class="contents__items__item__img top__img">
            <img
              src="<?php bloginfo( 'template_url' ); ?>/img/efficiency.webp"
              alt="Efficiency"
            />
          </div>
        </div>
      </div>
      <div class="contents__items right">
        <div class="contents__items__item">
          <div class="contents__items__item__img down__img">
            <img
              src="<?php bloginfo( 'template_url' ); ?>/img/adaptability.webp"
              alt="Adaptability"
            />
          </div>
          <div class="contents__items__item__descr text__left">
            <h3>Адаптивность</h3>
            <div class="description">
              Анимационные ролики удобно транслировать на любых площадках –
              телевидение, соцсети, Youtube, сайт компании, блог, на экранах в
              транспорте, на мониторах наружной рекламы.
            </div>
          </div>
        </div>
        <div class="contents__items__item">
          <div class="contents__items__item__descr text__right">
            <h3>Креативность</h3>
            <div class="description">
              Продвижение вашего бизнеса творческим и уникальным способом. Это
              всегда ярко, динамично, позитивно – и передает не только
              характеристики продукта, но и настроение вашего бренда.
            </div>
          </div>
          <div class="contents__items__item__img down__img">
            <img
              src="<?php bloginfo( 'template_url' ); ?>/img/creativity.webp"
              alt="Creativity"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
