<section class="best-videos">
  <div class="container">
    <h2>Наши лучшие ролики</h2>
    <div class="subtitle">
      Несмотря на молодость нашей студии, мы создали уже много анимационных
      роликов для бизнеса и выпустили мультсериал.
    </div>
    <div class="videos">
      <div class="videos__item">
        <div class="video" id="vedeo_first">
          <a href="https://youtu.be/Q6SHPGHYRB0" target="_blanck" rel="nofollow"
            ><img
              src="<?php bloginfo( 'template_url' ); ?>/img/adventures_Masha_and_Sasha.webp"
              alt="Приключения Саши и Маши"
          /></a>
        </div>
        <div class="descr">
          Мультсериал Приключения Маши и Саши. Сери №1 Миссия Египта
        </div>
      </div>
      <div class="videos__item">
        <div class="video">
          <a href="https://youtu.be/UP1hYjRoxdo" target="_blanck" rel="nofollow"
            ><img
              src="<?php bloginfo( 'template_url' ); ?>/img/safety_on_the water.webp"
              alt="Безопасность на воде"
          /></a>
        </div>
        <div class="descr">Анимационный ролик Безопасность на воде</div>
      </div>
      <div class="videos__item">
        <div class="video">
          <a
            href="https://youtu.be/Jx2n1YIaffg"
            target="_blanck"
            rel="nofollow"
          >
            <img
              src="<?php bloginfo( 'template_url' ); ?>/img/adventures_of_Masha_and_Sasha.webp"
              alt="Приключения Саши и Маши часть 2"
          /></a>
        </div>
        <div class="descr">
          Мультсериал Приключения Маши и Саши. Сери №2 Мексиканская аномалия
        </div>
      </div>
      <div class="videos__item">
        <div class="video">
          <a
            href="https://youtu.be/6qIjMYGIeFA"
            target="_blanck"
            rel="nofollow"
          >
            <img
              src="<?php bloginfo( 'template_url' ); ?>/img/Commercials_video.webp"
              alt="Рекламный ролик"
            />
          </a>
        </div>
        <div class="descr">Рекламный ролик нашей студии</div>
      </div>
    </div>
    <div class="button-potfolio">
      <a href="/portfolio.html" class="btn">Посмотреть портфолио</a>
    </div>
  </div>
</section>
