<section class="section-faq-news">
  <div class="container">
    <div class="news">
      <h3>Новости</h3>
      <div class="news__items">
        <div class="news__items__item">
          <div class="news-img">
            <img
              src="<?php bloginfo( 'template_url' ); ?>/img/contest.webp"
              alt="Конкурс"
            />
          </div>
          <div class="news-content">
            <div class="news-content__date">31/08/2021</div>
            <div class="news-content__anons">
              Мы подали заявку на участие в международном конкурсе “Анимаёвка
              2021”.
            </div>
            <a href="#">Читать далее</a>
          </div>
        </div>
        <div class="news__items__item">
          <div class="news-img">
            <img
              src="<?php bloginfo( 'template_url' ); ?>/img/news_mult.webp"
              alt="Конкурс"
            />
          </div>
          <div class="news-content">
            <div class="news-content__date">02/09/2021</div>
            <div class="news-content__anons">
              Мы приступили к созданию нового мультсериала. Совсем скоро первая
              серия.
            </div>
            <a href="#">Читать далее</a>
          </div>
        </div>
        <!-- <div class="news__items__item"></div> -->
      </div>
    </div>
    <div class="faq">
      <h3>FAQ</h3>
      <!-- Accordion -->
      <div class="accordion">
        <div class="accordion__item accordion__item-active">
          <div class="accordion__item-trigger">
            <div class="trigger__img">
              <span class="line1"></span>
              <span class="line2"></span>
            </div>
            <div class="trigger__text">
              Как рассчитывается стоимость ролика?
            </div>
          </div>
          <div class="accordion__item-content">
            <div class="content__text">
              Стоимость ролика определяется по следующим критериям: количество
              персонажей, количество локаций, степень детализации, требования к
              озвучке, степень детализации персонажей и общих планов и многое
              другое.
            </div>
          </div>
        </div>
        <div class="accordion__item">
          <div class="accordion__item-trigger">
            <div class="trigger__img">
              <span class="line1"></span>
              <span class="line2"></span>
            </div>
            <div class="trigger__text">
              Сколько займет времени создание ролика?
            </div>
          </div>
          <div class="accordion__item-content">
            <div class="content__text">
              Как и в вопросе стоимости все зависит от насыщенности персонажей,
              требованию к качеству исполнения. Самый простой ролик
              продолжительностью до 20 сек. делается в течении 1 месяца.
            </div>
          </div>
        </div>
        <div class="accordion__item">
          <div class="accordion__item-trigger">
            <div class="trigger__img">
              <span class="line1"></span>
              <span class="line2"></span>
            </div>
            <div class="trigger__text">
              Возможно ли использование наших материалов при создании ролика?
            </div>
          </div>
          <div class="accordion__item-content">
            <div class="content__text">
              Поскольку наше предприятие себя позиционируем максимально открытым
              перед заказчикам, мы изначально спрашиваем у него о наличии
              собственных наработок, пожеланий по теме и максимально этого
              придерживаемся, ну а если заказчик сам не знает чего хочет, в этом
              случае мы все берём на себя.
            </div>
          </div>
        </div>
        <div class="accordion__item">
          <div class="accordion__item-trigger">
            <div class="trigger__img">
              <span class="line1"></span>
              <span class="line2"></span>
            </div>
            <div class="trigger__text">
              Мы можем предоставить свой сценарий и работать по нему?
            </div>
          </div>
          <div class="accordion__item-content">
            <div class="content__text">
              Да, мы можем разработать сценарий индивидуально под вас.
            </div>
          </div>
        </div>
        <div class="accordion__item">
          <div class="accordion__item-trigger">
            <div class="trigger__img">
              <span class="line1"></span>
              <span class="line2"></span>
            </div>
            <div class="trigger__text">А если мне не понравиться ролик?</div>
          </div>
          <div class="accordion__item-content">
            <div class="content__text">
              Это будет печально. Чтобы этого не произошло, на процессе работы в
              ключевые моменты мы связываемся с заказчиком и согласовываем
              решения.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
