<section class="offer">
  <div class="container">
    <div class="contents">
      <div class="contents__subtitle">
        Эффектный способ заявить о своем бизнесе или продукте
      </div>
      <div class="contents__title">
        <h1>Создаем анимационные ролики и фильмы</h1>
      </div>
      <div class="contents__descr">
        Индивидуальный сценарий, профессиональная озвучка и красочное исполнение
      </div>
      <button class="btn" onclick="openForm('myForm')">Заказать ролик</button>
    </div>
    <div class="picture">
      <img
        src="<?php bloginfo( 'template_url' ); ?>/img/home_img.webp"
        alt="Home img"
        width="841px"
        height="464px"
      />
    </div>
  </div>
</section>
