<section class="servises">
  <div class="container">
    <h2>Виды анимации, которые мы создаем</h2>
    <div class="descr">
      Мы создаём анимационные ролики и фильмы для любой сферы бизнеса и
      образования, которые привлекают потенциальных клиентов и обучают новой
      информации за счет своей динамики и простоты восприятия.
    </div>
    <div class="servises__items">
      <div class="servises__items__item">
        <h3>Анимационные ролики</h3>
        <div class="servis__img">
          <img
            src="<?php bloginfo( 'template_url' ); ?>/img/Animation_videos.webp"
            alt="Анимационные ролики"
          />
        </div>
        <div class="descr">
          Поможем подать любую информацию креативно и наглядно
        </div>
        <button class="btn" onclick="openForm('myForm')">
          Рассчитать стоимость
        </button>
      </div>
      <div class="servises__items__item">
        <h3>Рекламные ролики</h3>
        <div class="servis__img">
          <img
            src="<?php bloginfo( 'template_url' ); ?>/img/Commercials.webp"
            alt="Рекламные ролики"
          />
        </div>
        <div class="descr">Создадим анимацию, которая приведет клиентов</div>
        <button class="btn" onclick="openForm('myForm')">
          Рассчитать стоимость
        </button>
      </div>
      <div class="servises__items__item">
        <h3>Мультсериалы</h3>
        <div class="servis__img">
          <img
            src="<?php bloginfo( 'template_url' ); ?>/img/Multiple_series.webp"
            alt="Мультсериалы"
          />
        </div>
        <div class="descr">
          Нарисуем уникальных <br />персонажей, локации и ситуации
        </div>
        <button class="btn" onclick="openForm('myForm')">
          Рассчитать стоимость
        </button>
      </div>
    </div>
    <h3>Как мы работаем со своими клиентами</h3>
    <div class="how-working">
      <div class="how-working__item">
        <div class="how-working__item__number">1</div>
        <div class="how-working__item__descr">
          Проводим консультацию, уточняем детали, оформляем заказ
        </div>
      </div>
      <div class="how-working__item">
        <div class="how-working__item__number">2</div>
        <div class="how-working__item__descr">
          Разрабаываем общую концепцию и пишем сценарий
        </div>
      </div>
      <div class="how-working__item">
        <div class="how-working__item__number">3</div>
        <div class="how-working__item__descr">
          Создаем анимацию, проффесиональную озвучку и монтаж
        </div>
      </div>
      <div class="how-working__item">
        <div class="how-working__item__number">4</div>
        <div class="how-working__item__descr leta">
          Утверждаем ролик, вносим правки и передаем готовый проект
        </div>
      </div>
    </div>
  </div>
</section>
