<section class="breadcrumbs">
  <div class="container">
    <div class="page-title-breadcrumbs">
      <div class="assistive-text">Вы здесь:</div>
      <ol
        class="breadcrumbs text-small"
        itemscope=""
        itemtype="https://schema.org/BreadcrumbList"
      >
        <li
          itemprop="itemListElement"
          itemscope=""
          itemtype="https://schema.org/ListItem"
        >
          <a itemprop="item" href="/" title=""
            ><span itemprop="name">Главная</span></a
          ><meta itemprop="position" content="1" />
        </li>
        <li
          class="current"
          itemprop="itemListElement"
          itemscope=""
          itemtype="https://schema.org/ListItem"
        >
          <span itemprop="name">Портфолио</span
          ><meta itemprop="position" content="2" />
        </li>
      </ol>
    </div>
  </div>
</section>
<section class="best-videos">
  <div class="container" id="best-videos__services-page">
    <h2>Наши работы</h2>
    <div class="subtitle">
      Несмотря на молодость нашей студии, мы создали уже много анимационных
      роликов для бизнеса и выпустили мультсериал.
    </div>
    <div class="videos" id="video__portfolio-page">
      <div class="videos__item">
        <div class="video">
          <a
            href="https://youtu.be/Q6SHPGHYRB0"
            target="_blanck"
            rel="nofollow"
          >
            <img
              src="/img/adventures_Masha_and_Sasha.webp"
              alt="Приключения Саши и Маши"
          /></a>
        </div>
        <div class="descr">
          Мультсериал Приключения Маши и Саши. Сери №1 Миссия Египта
        </div>
      </div>
      <div class="videos__item">
        <div class="video">
          <a
            href="https://youtu.be/UP1hYjRoxdo"
            target="_blanck"
            rel="nofollow"
          >
            <img src="/img/safety_on_the water.webp" alt="Безопасность на воде"
          /></a>
        </div>
        <div class="descr">Анимационный ролик Безопасность на воде</div>
      </div>
      <div class="videos__item">
        <div class="video">
          <a
            href="https://youtu.be/Jx2n1YIaffg"
            target="_blanck"
            rel="nofollow"
          >
            <img
              src="/img/adventures_of_Masha_and_Sasha.webp"
              alt="Приключения Саши и Маши часть 2"
          /></a>
        </div>
        <div class="descr">
          Мультсериал Приключения Маши и Саши. Сери №2 Мексиканская аномалия
        </div>
      </div>
      <div class="videos__item">
        <div class="video">
          <img src="/img/Commercials_video.webp" alt="Рекламный ролик" />
        </div>
        <div class="descr">Рекламный ролик нашей студии</div>
      </div>
      <div class="videos__item">
        <div class="video">
          <a
            href="https://youtu.be/Q6SHPGHYRB0"
            target="_blanck"
            rel="nofollow"
          >
            <img
              src="/img/adventures_Masha_and_Sasha.webp"
              alt="Приключения Саши и Маши"
          /></a>
        </div>
        <div class="descr">
          Мультсериал Приключения Маши и Саши. Сери №1 Миссия Египта
        </div>
      </div>
      <div class="videos__item">
        <div class="video">
          <a
            href="https://youtu.be/UP1hYjRoxdo"
            target="_blanck"
            rel="nofollow"
          >
            <img src="/img/safety_on_the water.webp" alt="Безопасность на воде"
          /></a>
        </div>
        <div class="descr">Анимационный ролик Безопасность на воде</div>
      </div>
      <div class="videos__item">
        <div class="video">
          <a
            href="https://youtu.be/Jx2n1YIaffg"
            target="_blanck"
            rel="nofollow"
          >
            <img
              src="/img/adventures_of_Masha_and_Sasha.webp"
              alt="Приключения Саши и Маши часть 2"
          /></a>
        </div>
        <div class="descr">
          Мультсериал Приключения Маши и Саши. Сери №2 Мексиканская аномалия
        </div>
      </div>
      <div class="videos__item">
        <div class="video">
          <img src="/img/Commercials_video.webp" alt="Рекламный ролик" />
        </div>
        <div class="descr">Рекламный ролик нашей студии</div>
      </div>
      <div class="videos__item">
        <div class="video">
          <a
            href="https://youtu.be/Q6SHPGHYRB0"
            target="_blanck"
            rel="nofollow"
          >
            <img
              src="/img/adventures_Masha_and_Sasha.webp"
              alt="Приключения Саши и Маши"
          /></a>
        </div>
        <div class="descr">
          Мультсериал Приключения Маши и Саши. Сери №1 Миссия Египта
        </div>
      </div>
      <div class="videos__item">
        <div class="video">
          <a
            href="https://youtu.be/UP1hYjRoxdo"
            target="_blanck"
            rel="nofollow"
          >
            <img src="/img/safety_on_the water.webp" alt="Безопасность на воде"
          /></a>
        </div>
        <div class="descr">Анимационный ролик Безопасность на воде</div>
      </div>
      <div class="videos__item">
        <div class="video">
          <a
            href="https://youtu.be/Jx2n1YIaffg"
            target="_blanck"
            rel="nofollow"
          >
            <img
              src="/img/adventures_of_Masha_and_Sasha.webp"
              alt="Приключения Саши и Маши часть 2"
          /></a>
        </div>
        <div class="descr">
          Мультсериал Приключения Маши и Саши. Сери №2 Мексиканская аномалия
        </div>
      </div>
      <div class="videos__item">
        <div class="video">
          <img src="/img/Commercials_video.webp" alt="Рекламный ролик" />
        </div>
        <div class="descr">Рекламный ролик нашей студии</div>
      </div>
      <div class="videos__item">
        <div class="video">
          <a
            href="https://youtu.be/Q6SHPGHYRB0"
            target="_blanck"
            rel="nofollow"
          >
            <img
              src="/img/adventures_Masha_and_Sasha.webp"
              alt="Приключения Саши и Маши"
          /></a>
        </div>
        <div class="descr">
          Мультсериал Приключения Маши и Саши. Сери №1 Миссия Египта
        </div>
      </div>
      <div class="videos__item">
        <div class="video">
          <a
            href="https://youtu.be/UP1hYjRoxdo"
            target="_blanck"
            rel="nofollow"
          >
            <img src="/img/safety_on_the water.webp" alt="Безопасность на воде"
          /></a>
        </div>
        <div class="descr">Анимационный ролик Безопасность на воде</div>
      </div>
      <div class="videos__item">
        <div class="video">
          <a
            href="https://youtu.be/Jx2n1YIaffg"
            target="_blanck"
            rel="nofollow"
          >
            <img
              src="/img/adventures_of_Masha_and_Sasha.webp"
              alt="Приключения Саши и Маши часть 2"
          /></a>
        </div>
        <div class="descr">
          Мультсериал Приключения Маши и Саши. Сери №2 Мексиканская аномалия
        </div>
      </div>
      <div class="videos__item">
        <div class="video">
          <img src="/img/Commercials_video.webp" alt="Рекламный ролик" />
        </div>
        <div class="descr">Рекламный ролик нашей студии</div>
      </div>
    </div>
  </div>
</section>
<section class="command-section portfolio-about-work">
  <div class="container">
    <h4>Как мы работаем</h4>
    <div class="portfolio-page__subtitle">
      От оформления заказа до получения готового проекта
    </div>
    <div class="contents__items">
      <div class="contents__items__item">
        <div class="contents__items__item__img">
          <img src="/img/consultation.webp" alt="Уникальность" />
        </div>
        <div class="contents__items__item__descr">
          Индивидуальный подход и оригинальные идеи для каждого клиента
        </div>
      </div>
      <div class="contents__items__item">
        <div class="contents__items__item__img">
          <img src="/img/scenario.webp" alt="Экспертность" />
        </div>
        <div class="contents__items__item__descr">
          Работаем на результат во всех сферах 2D анимации с полным циклом
          производства
        </div>
      </div>
      <div class="contents__items__item">
        <div class="contents__items__item__img">
          <img src="/img/animation_voice_acting.webp" alt="Доступность" />
        </div>
        <div class="contents__items__item__descr">
          Доступные цены и гибкая система скидок для наших постоянных клиентов и
          партнеров
        </div>
      </div>
      <div class="contents__items__item">
        <div class="contents__items__item__img">
          <img src="/img/affirm.webp" alt="Оперативность" />
        </div>
        <div class="contents__items__item__descr">
          Распланированный поэтапно проект, оперативность создания анимации
        </div>
      </div>
    </div>
  </div>
</section>
@@include('../page-blocks/_callbackForm.html')
<section class="section-faq-news" id="page-portfolio__news">
  <div class="container">
    <div class="news">
      <h3>Новости</h3>
      <div class="news__items">
        <div class="news__items__item">
          <div class="news-img">
            <img src="/img/contest.webp" alt="Конкурс" />
          </div>
          <div class="news-content">
            <div class="news-content__date">31/08/2021</div>
            <div class="news-content__anons">
              Мы подали заявку на участие в международном конкурсе “Анимаёвка
              2021”.
            </div>
            <a href="#">Читать далее</a>
          </div>
        </div>
        <div class="news__items__item">
          <div class="news-img">
            <img src="/img/news_mult.webp" alt="Конкурс" />
          </div>
          <div class="news-content">
            <div class="news-content__date">02/09/2021</div>
            <div class="news-content__anons">
              Мы приступили к созданию нового мультсериала. Совсем скоро первая
              серия.
            </div>
            <a href="#">Читать далее</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
