<section class="reviews">
  <div class="container">
    <h2>Отзывы наших клиентов</h2>
    <div class="contents">
      <div class="contents__img">
        <img
          src="<?php bloginfo( 'template_url' ); ?>/img/reviews.webp"
          alt="Отзывы"
        />
      </div>
      <div class="sliders swiper">
        <div class="swiper-wrapper">
          <div class="slide swiper-slide">
            <div class="avatar">
              <img
                src="<?php bloginfo( 'template_url' ); ?>/img/cat_icon.webp"
                alt="Аватар"
              />
            </div>
            <div class="text-review">
              <p>Текст очень благодарного и довольного клиента</p>
              <p>Спасибо спасибо спасибо мы вам безмерно благодарны</p>
            </div>
            <div class="person">Клиент ОАО “Компания”</div>
          </div>
        </div>
      </div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</section>
