<section class="feedback-section callback-section">
  <div class="container">
    <h3>Узнать стоимость и сроки исполнения</h3>
    <div class="feedback-contents">
      <div class="feedback__form">
        <div class="feedback__form__descr">
          Мы свяжемся с вами, уточним детали, рассчитаем сроки и бюджет по
          созданию анимационного ролика для вас.
        </div>
        <form action="" class="callback-form">
          <div class="input-name">
            <div class="input-text">Имя</div>
            <input
              type="text"
              placeholder="Введите ваше имя "
              required="required"
            />
          </div>
          <div class="input-number">
            <div class="input-text">Телефон</div>
            <input
              type="text"
              placeholder="Введите номер телефона"
              required="required"
            />
          </div>
          <button class="btn">Оставить заявку</button>
        </form>
      </div>
    </div>
  </div>
</section>
