<header>
  <div class="container">
    <nav>
      <div class="navbar">
        <div class="logo">
          <a href="/">
            <img
              src="<?php bloginfo( 'template_url' ); ?>/img/logo_text.webp"
              alt="Logo"
              id="logo"
            />
          </a>
        </div>
        <div class="menu">
          <ul class="menu__list">
            <?php
            wp_nav_menu( [
            'theme_location'  =>
            'header_menu', 'menu' => '', 'container' => false, 'echo' => true,
            'fallback_cb' => 'wp_page_menu', 'items_wrap' => ' %3$s ', 'depth'
            => 1, ] ); ?>
          </ul>
        </div>
        <div class="tell">
          <ul>
            <li>
              <a href="tel:+375447456031" id="tell-first">+375(44)7456031</a>
              <ul class="tell-second">
                <li><a href="tel:+375447456031">+375(29)7459031</a></li>
                <li><a href="tel:+375447456031">+375(22)2770944</a></li>
              </ul>
            </li>
          </ul>
          <img
            src="<?php bloginfo( 'template_url' ); ?>/img/Polygon.webp"
            alt="Polygon"
          />
        </div>
        <div class="burger">
          <span></span>
        </div>
      </div>
    </nav>
  </div>
</header>
